<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta HTTP-EQUIV="Pragma" CONTENT="no-cache">
    <meta HTTP-EQUIV="Expires" CONTENT="-1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Toolbox на минималках</title>
    <link rel="stylesheet" href="static/styles.css">
</head>
<body>
    <label for="searchWord">Введите PN для поиска по AIPC B738:</label>
    <input type="text" id="searchWord">
    <button onclick="search()">Поиск</button>

    <div class="container">
        <div class="table-container">
            <div id="results"></div>
        </div>
        <div class="pdf-container">
            <iframe id="pdfFrame"></iframe>
        </div>
    </div>
    <script src="https://mozilla.github.io/pdf.js/build/pdf.js"></script>
    <script>
        // Добавляем параметр времени к имени файла для запрета кэширования
        const scriptFile = "script.js?" + new Date().getTime();
        document.write('<script src="static/' + scriptFile + '"><' + '/script>');
    </script>
</body>
</html>
