    <!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta HTTP-EQUIV="Pragma" CONTENT="no-cache">
    <meta HTTP-EQUIV="Expires" CONTENT="-1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Toolbox на минималках</title>
    <link rel="stylesheet" href="{{ url_for('static', path='styles.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
    <div class="topnav">
        <a class="active">AIPC Search</a>
        <div class="search-container">
            <form id="input-form" action="" method="get">
                <input type="text" id="search_word" name="search_word" placeholder="Введите PN...">
                <button type="submit"><i class="fa fa-search"></i></button>
            </form>
        </div>
    </div>

    <div class="container">
        <div class="table-container">
            <table>
                <tr class="results-bar"><td class="results-bar"><h2>Результат поиска:</h2></td></tr>
                <tr><td><div id="loader"></div></td></tr>
                <tr><td><table id="results" class="results-table"></table></td></tr>
            </table>
        </div>
        <div class="pdf-container">
            <iframe id="pdfFrame"></iframe>
        </div>
    </div>
            
    <script src="{{ url_for('static', path='search.js') }}"></script>
</body>
</html>